body{
    background-color: black;
    padding: 420px;
    font-family: 'Roboto', sans-serif;
}
.post{
    background-color: white;
    overflow: hidden;
    max-width: 450px;
    
}

.float {
    float: left !important;
}
.floatRight{
    float: right !important;
    margin: 10px !important;
}

.icons{
    padding: 10px !important;
    height: 30px !important;
}

.postHeader{
    max-height: 65px;
    width: fit-content;
    height: fit-content;
}

.postImage{
    max-width: max-content;
}